/*navbar*/
.navbar-default {
    background-color: #145A32;
    border-color: #fff;
}
.navbar{
    background-image: none;
}
.navbar-default .navbar-brand {
    color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #C39409;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #C39409;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

/* ooter */
.footer-text{
  color: #fff;
}




.body-div{
  background-color: #fff;
  height: 100%;
  display: flex;

  align-items: start;

}
.secretariate-body{

}
.section-div{
  background-color: #fff;
  width: 50%;
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 40px;
/**  padding: 4rem 0; **/

}

.heading{
  text-align: center;
  color: #145A32;
  font-size: 50px;
}

.card-style{
  width: 40rem;
  justify-content: center;
  align-items: center;
  height: 18rem;
  margin: 4rem;
}

.card {
    border: 2px solid black !important;
    border-color: #C39409 !important;

}

/**
.card-decoration .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: #8064A2 !important;
}
**/
/**
.card-decoration .btn-primary {
  background-color: #145A32 !important;
}
.card-decoration .btn-primary:hover {
  background-color: #C39409 !important;
}
**/
.btn-primary {
  background-color: #145A32 !important;
}
.btn-primary:hover {
  background-color: #C39409 !important;
}

.card-border{
border: red;
}

.secretariate-card-style{
  width: 30rem;
  justify-content: center;
  align-items: center;
background-color: pink;
  height: 18rem;
  margin: 4rem 1rem;
  background-color: blue;
}
table thead{

}
label{
  font-weight: bold!important;
  color: #145A32 !important;
}
